
<%- include('header.ejs') %>

<section>
	<inner-column>

		<module-name>
			<%#-ctx.prismicH.asHTML(monster.data.name)%>
			<%#console.log(data)%>
			<% 
				var currentId = params.id;
				console.log(params);
				var currentMonster = null;

				// //this could be find instead of forEach, then it wouldnt have to look at every single item (it would take the first match)
				data.forEach(function(monster){
					if (monster.id == currentId){
						currentMonster = monster;
						console.log(currentMonster.name)
					}
				})
			%>

				
			<h2><%=currentMonster.name%></h2>
			<picture>
				<img src="../<%=currentMonster.image%>" alt="monster headshot">
			</picture>
			<p>Age: <%=currentMonster.age%></p>
			<p>Gender: <%=currentMonster.gender%></p>
			<p>Favorite Food: <%=currentMonster.food%></p>
			<h3>Characteristics</h3>
			<ul>
			<% currentMonster.characteristics.forEach(function(char) { %>
					<li><%=char%></li>
				<% })
			%>
			</ul>

			<h3>Description</h3>
			<% currentMonster.description.forEach(function(paragraph) { %>
					<p><%=paragraph%></p>
				<% })
			%>
			
			<div>
			<a class="button1" href="/adopt">Adoption Info</a>
		</div>

		</module-name>

	</inner-column>
</section>

<%- include('footer.ejs') %>

