
<%- include('header.ejs') %>

<section class="detail">
	<inner-column>

	<%#-ctx.prismicH.asHTML(monster.data.name)%>
	<%#console.log(data)%>
	<% 
		var currentId = params.id;
		console.log(params);
		var currentMonster = null;

		// //this could be find instead of forEach, then it wouldnt have to look at every single item (it would take the first match)
		data.forEach(function(monster){
			if (monster.id == currentId){
				currentMonster = monster;
				console.log(currentMonster.name)
			}
		})
	%>

		
	<h2><%=currentMonster.name%></h2>
	<picture>
		<img src="../<%=currentMonster.image%>" alt="monster headshot">
	</picture>

	<stat-list>
			<div><strong>Current Age:</strong></div>
			<div><%=currentMonster.age%> Years</div>
			<div><strong>Gender ID:</strong></div>
			<div><%=currentMonster.gender%></div>
			<div><strong>Favorite Food:</strong></div>
			<div><%=currentMonster.food%></div>
	</stat-list>
	
	<ul class="characteristics">
		<h3>Characteristics</h3>
		<% currentMonster.characteristics.forEach(function(char) { %>
			<li><%=char%></li>
		<% }) %>
	</ul>

	<div class="description">
	<h3>Description</h3>
		<% currentMonster.description.forEach(function(paragraph) { %>
				<p><%=paragraph%></p>
			<% }) %>
	</div>
	
	<div>
		<a class="button1" href="/adopt">Adoption Info</a>
	</div>


	</inner-column>
</section>

<%- include('footer.ejs') %>

