
<%- include('header.ejs') %>

<section>
	<inner-column>

		<module-name>
			<h1>Detail Page</h1>

			<% 
				var currentId = params.id;
				var currentMonster = null;

				//this could be find instead of forEach, then it wouldnt have to look at every single item (it would take the first match)
				data.forEach(function(monster){
					if (monster.id == currentId){
						currentMonster = monster;
						console.log(currentMonster)
					}
				})
			%>

				
			<h2><%=currentMonster.name%></h2>
			<picture>
				<img src="../<%=currentMonster.image%>" alt="monster headshot">
			</picture>
			<p>Age: <%=currentMonster.age%></p>
			<p>Gender: <%=currentMonster.gender%></p>
			<% currentMonster.description.forEach(function(paragraph) { %>
					<p><%=paragraph%></p>
				<% })
			%>
				

		</module-name>

	</inner-column>
</section>

<%- include('footer.ejs') %>

