
<%- include('header.ejs') %>

<section>
	<inner-column>

		<module-name>
			<h1>Monsters Page</h1>

			<%
				data.forEach(function(monster) { %>
				<li>
					<h2><%=monster.name%></h2>
					<picture>
						<img src="<%=monster.image%>" alt="monster headshot">
					</picture>
					<p>Age: <%=monster.age%></p>
					<p>Gender: <%=monster.gender%></p>
					<p> Characteristics: <%=monster.characteristics.join(', ')%>
						
					</p>
					<a href="/detail/<%=monster.id%>">More info</a>
				</li>
				<% }) %>

		</module-name>

	</inner-column>
</section>

<%- include('footer.ejs') %>

